
.user-icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.custom-navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.02em;

  }
.navbar-nav .nav-link {
    margin-right: 15px; 
  }
.navbar-nav .nav-link.active {
    background-color: black;
    border-radius: 50px;
    color: white !important;
  }
.d-flex .user-icon:hover {
  transform: scale(1.1);
}